{% extends 'base.html' %}

{% block head %}
{% endblock head %}

{% block body %}
<div class="row">
<h1>Molok oversigt</h1>
<table class="table table-striped">
    <thead class="thead-dark">
    <tr>
        <th scope="col">
            ID
        </th>
        <th scope="col">
            Fyldeprocent
        </th>
        <th scope="col">
            Address
        </td>
        <th scope="col">
            Latitude
        </th>
        <th scope="col">
            Longitude
        </th>
    </tr>
    </thead>
    <tbody>
    {% for entry in entries %}
        <tr>
            <td>
                {{entry.id}}
            </td>
            
            <td class=
            "progress-bar text-dark 
            {% if entry.to_dict()['fill'] < 50 %}
                bg-success
            {% endif %}
            {% if entry.to_dict()['fill'] >= 50 and entry.to_dict()['fill'] < 75 %}
                bg-warning
            {% endif %}
            {% if entry.to_dict()['fill'] >= 50 and entry.to_dict()['fill'] < 75 %}
                bg-warning
            {% endif %}
            {% if entry.to_dict()['fill'] > 75 %}
                bg-danger
            {% endif %}"
            role="progressbar" style="width: {{entry.to_dict()['fill']}}%">
                {{entry.to_dict()['fill']}} %
            </td>

            <td>
                {{entry.to_dict()['address']}}
            </td>
            <td>
                {{entry.to_dict()['lat']}}
            </td>
            <td>
                {{entry.to_dict()['lng']}}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
</div>

<div class="row">
    <div class="col-6">
        <form>
            <div class="form-group">
                <label for="formControlRange">Example Range input</label>
                <input type="range" class="form-control-range" id="formControlRange" min="1" max="100">
            </div>
        </form>
    </div>
</div>
{% endblock body %}