{% extends 'base.html' %}

{% block head %}
{% endblock head %}

{% block body %}
<h1>Molok oversigt</h1>
<table class="table table-striped">
    <thead class="thead-dark">
    <tr>
        <th scope="col">
            ID
        </th>
        <th scope="col">
            Fyldeprocent
        </th>
        <th scope="col">
            Address
        </td>
        <th scope="col">
            Latitude
        </th>
        <th scope="col">
            Longitude
        </th>
    </tr>
    </thead>
    <tbody>
    {% for entry in entries.find() %}
        <tr>
            <td>
                {{entry["pk"]}}
            </td>
            
            <td class=
            "progress-bar text-dark 
            {% if entry['fill'] < 50 %}
                bg-success
            {% endif %}
            {% if entry['fill'] >= 50 and entry['fill'] < 75 %}
                bg-warning
            {% endif %}
            {% if entry['fill'] >= 50 and entry['fill'] < 75 %}
                bg-warning
            {% endif %}
            {% if entry['fill'] > 75 %}
                bg-danger
            {% endif %}"
            role="progressbar" style="width: {{entry['fill']}}%">
                {{entry["fill"]}} %
            </td>

            <td>
                {{entry["address"]}}
            </td>
            <td>
                {{entry["lat"]}}
            </td>
            <td>
                {{entry["lng"]}}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock body %}