{% extends 'base.html' %}

{% block head %}
{% endblock head %}

{% block body %}
<div class="row">
<h1>Molok oversigt</h1>
<table class="table table-sm table-striped">
    <thead class="thead-dark">
    <tr>
        <th scope="col">
            ID
        </th>
        <th scope="col">
            Type
        </th>
        <th scope="col">
            Fyldeprocent
        </th>
        <th scope="col">
            Address
        </th>
        <th scope="col">
            Latitude
        </th>
        <th scope="col">
            Longitude
        </th>
    </tr>
    </thead>
    <tbody>
    {% for entry in entries %}
        <tr>
            <td>
                {{entry.id}}
            </td>
            <td>
                {% if entry.to_dict()['type'] == "Plast" %}
                    Plast og metal
                {% endif %}
                {% if entry.to_dict()['type'] == "Mad" %}
                    Madaffald
                {% endif %}
                {% if entry.to_dict()['type'] == "Pap" %}
                    Pap og papir
                {% endif %}
                {% if entry.to_dict()['type'] == "Rest" %}
                    Restaffald
                {% endif %}
            </td>
            <td class=
            "progress-bar text-dark 
            {% if entry.to_dict()['fill'] < 50 %}
                bg-success
            {% endif %}
            {% if entry.to_dict()['fill'] >= 50 and entry.to_dict()['fill'] < 75 %}
                bg-warning
            {% endif %}
            {% if entry.to_dict()['fill'] >= 75 %}
                bg-danger
            {% endif %}"
            role="progressbar" style="width: {{entry.to_dict()['fill']}}%">
                {{entry.to_dict()['fill']}} %
            </td>
            <td>
                {{entry.to_dict()['address']}}
            </td>
            <td>
                {{entry.to_dict()['lat']}}
            </td>
            <td>
                {{entry.to_dict()['lng']}}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
</div>

<div class="card" style="width: 50rem">    
    <div class="card-header">Planlæg rute</div>
    <form class="card-body" action="{{ url_for('sort_GUI') }}" method="post">
        <div class="form-group">
            <label for="fillRange">Bestem fyldningsprocent</label>
            <div class="row">
                <div class="col-1">0</div>
                <div class="col-10">
                    <input type="range" class="form-control-range" min="0" max="100" name="fillRange">
                </div>
                <div class="col-1">100</div>
            </div> 
        </div>

        <div class="form-group">
            <label for="typeSelect">Filter</label>
            <select class="form-control" name="typeSelect">
                <option value="NoFilter">Intet filter</option>
                <option value="Rest">Restaffald</option>
                <option value="Mad">Madaffald</option>
                <option value="Plast">Plast og Metal</option>
                <option value="Pap">Pap og Papir</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Generer rute</button>
    </form>
</div>

{% endblock body %}